.main {
  width: 100%;
}

.main__header {
  background-color: #0071ff33;
  height: 150px;
  text-align: center;
}

.main__headerText {
  margin: 0;
  padding: 0;
  color: #fff;
  padding-top: 30px;
}

.main__body {
  margin: auto;
  max-width: 900px;
  margin-bottom: 50px;
}