.myBtn {
  border: solid 1px #4053ff;
  border-radius: 8px;
  background-color: #ffffff;
  color: #4053ff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  height: 36px;
  margin: 8px;
  padding: 0 8px;
  width: 100%;
}

.myBtn:hover {
  box-shadow: 1px 5px 5px 1px rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}