.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 380px;
  width: 380px;
}

.imgLogin {
  height: auto;
  width: 10rem;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 380px;
  width: 380px;
}

.title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 600;
}
