.inputArea {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.inputArea__label {
  flex: 1;
  margin: 10px;
}

.inputArea__title {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputArea__input {
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.inputArea__button {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  cursor: pointer;
}

.inputArea__button:hover {
  background-color: blue;
  color: white;
}
