.tableItem {
  color: #000;
}

.tableItem__column {
  padding: 10px 0;
}

.tableItem__date {
  width: 100px;
}

.tableItem__category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.tableItem__value {
  color:#000
}