.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home__leftArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  margin: 0 1rem;
  width: auto;
}

.home__title {
  color: #fff;
  font-size: 2.75em;
  font-weight: 600;
  line-height: 3.25rem;
}

.home__logo {
  margin: 1rem 0 0;
}

.home__rightArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  margin: 0 1rem;
  width: auto;
}

.home__text {
  color: #fff;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
.home__buttonArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  margin: 1.25rem 0 0;
}
